//- Called by index.js/index - default page
extends layout

block content
  h3= title

  if description
    p!= description

  hr
  each link, name in links
    h4 #{name}
    each lnk, i in link
      li
        a(href=lnk)= i