!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery
  body
    //- Show menu on every page using json 'links' var
    div#menu
      ul(class="csl")
        each link, name in links
          li
            a(href=link) #{name} 
    block content